@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700");
body {
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
}

.profile {
  background: #129ADC;
  color: #fff;
  box-shadow: 5px 12px 15px 0 rgba(0, 0, 0, 0.24);
  margin: 2rem auto 0;
  max-width: 30rem;
  padding: 2rem;
}
.profile__description {
  font-size: 1.45em;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-align: left;
}
.profile .social {
  display: block;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
  text-align: center;
}
.profile .social li {
  display: inline-block;
}
.profile .social li + li {
  margin-left: 0.25rem;
}
.profile .social__icon {
  background-color: transparent;
  color: #fff;
  display: block;
  fill: #fff;
  height: 3em;
  width: 3em;
}
.profile .social__icon svg, .profile .social__icon img {
  width: 100%;
  height: 100%;
}
